@import "tailwindcss";

@theme {
  --color-navis-navy: #0B1C3E;
  --color-navis-gold: #C5A059;
  --color-navis-light: #F8F9FA;

  --animate-spin-pause: spin-pause 5s ease-in-out infinite;

  @keyframes spin-pause {
    0% {
      transform: rotate(0deg);
    }

    15% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  body {
    @apply bg-navis-light dark:bg-navis-navy dark:text-white text-navis-navy transition-colors duration-500;
  }
}

@custom-variant dark (&:where(.dark, .dark *));