# Konfiguracja SMTP (poczta) dla formularza kontaktowego
# Wpisz tutaj swoje dane z hostingu (np. home.pl, nazwa.pl, cyberfolks itp.)

SMTP_HOST=mail.mazury.holiday
SMTP_PORT=465
SMTP_USER=rezerwacje@mazury.holiday
SMTP_PASSWORD=twoje_tajne_haslo
SMTP_SECURE=true
SMTP_FROM="Formularz Kontaktowy <rezerwacje@mazury.holiday>"
SMTP_TO=rezerwacje@mazury.holiday
