name: Deploy Navis to GitHub Pages

on:
  push:
    branches: ["main"]
    paths:
      - 'szkolenianavis-app/**'
      - '.github/workflows/deploy.yml'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: 'npm'
          cache-dependency-path: szkolenianavis-app/package-lock.json

      - name: Install Dependencies
        run: npm ci
        working-directory: szkolenianavis-app

      - name: Build
        run: npm run build
        working-directory: szkolenianavis-app

      - name: Copy Matrix Panel to Build Artifacts
        run: cp -r matrix-panel szkolenianavis-app/dist/matrix-panel

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./szkolenianavis-app/dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
